.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
}
.cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 20%;
}
.app {
  display: flex;
}
.productlist {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid gray;
  width: 30%;
  margin-top: 10px;
  gap: 10px;
}
.image {
  height: 200px;
  overflow: hidden;
}
